<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>R6 API Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/semantic.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/style.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="scripts/main.js"></script>
</head>

<body>
    <header class='ui fixed inverted menu'>
        <section class='ui container'>
            <a href='/' class='header item'>
                <img src='images/logo.png' class='logo'>
                Rainbow Six Siege Api
            </a>
            <a href='/documentation' class='item'>
                Documentation
            </a>
        </section>
    </header>

    <main>
        <div class="docContent">
            <div class="sidebarNav">
                <h2 class="navTitle">Getting Started</h2>
                <div class="ui segments sidebarNav">
                    <div class="ui segment">
                        <a href="#">Introduction</a>
                    </div>
                    <div class="ui segment">
                        <a href="#">Getting Started</a>
                    </div>
                    <div class="ui segment">
                        <a href="#">Base URL</a>
                    </div>
                    <div class="ui segment">
                        <a href="#">Authentication</a>
                    </div>
                </div>

                <h2 class="navTitle">Resources</h2>
                <div class="ui segments sidebarNav">
                    <div class="ui segment">
                        <a href="#">Root</a>
                    </div>
                    <div class="ui segment">
                        <a href="#">Operators</a>
                    </div>
                    <div class="ui segment">
                        <a href="#">Abilities</a>
                    </div>
                    <div class="ui segment">
                        <a href="#">Gadgets</a>
                    </div>
                    <div class="ui segment">
                        <a href="#">Weapons</a>
                    </div>
                </div>
            </div>





            <section class="content">
                <h1>Documentation</h1>
                <hr>
                <h3>Introduction</h3>
                <p>Welcome to the Rainbow Six Siege API! This documentation should help you familiarise yourself with the resources available and how to consume them with HTTP requests. Read through the getting started section before you dive in. Most of your problems should be solved just by reading through it.</p>
                <h3>Getting Started</h3>
                <h3>Base Url</h3>
                <h3>Authentication</h3>
                <h1>Resources</h1>
                <hr>
                <h3>Root</h3>
                <h3>Operators</h3>
                <h4>Attack Operators</h4>
                <h4>Defense Operators</h4>
                <h3>Abilities</h3>
                <h3>Gadgets</h3>
                <h3>Weapons</h3>
                
            </section>

        </div>

    </main>
    <footer>
        <section class='copy'>
            <p>&copy; Dalton Hart 2018</p>
        </section>
        <section class='social'>
            <a href="https://www.facebook.com/KnightStand" target="_blank">
                <button class="ui facebook button">
                    <i class="fab fa-facebook-f"></i>
                </button>
            </a>
            <a href="https://twitter.com/DaltonJHart" target="_blank">
                <button class="ui twitter button">
                    <i class="fab fa-twitter"></i>
                </button>
            </a>
            <a href="https://www.linkedin.com/in/dalton-hart/" target="_blank">
                <button class="ui linkedin button">
                    <i class="fab fa-linkedin-in"></i>
                </button>
            </a>
            <p>Let's Chat</p>
        </section>

    </footer>
</body>

</html>