<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>R6 API Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="styles/semantic.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="styles/style.css"
    />
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.png" />

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script src="scripts/doc.js" defer></script>
  </head>

  <body>
    <header class="ui fixed inverted menu">
      <section class="ui container">
        <a href="/" class="header item">
          <img src="images/logo.png" class="logo" />
          Rainbow Six Siege Api
        </a>
        <a href="/documentation" class="item">
          Documentation
        </a>
      </section>
    </header>

    <main>
      <div class="docContent">
        <div class="sidebarNav">
          <h2 class="navTitle">Getting Started</h2>
          <div class="ui segments sidebarNav">
            <a class="ui segment" href="#intro">Introduction</a>
            <a class="ui segment" href="#base">Base URL</a>
            <a class="ui segment" href="#auth">Authentication</a>
            <a class="ui segment" href="#rate">Rate Limiting</a>
          </div>

          <h2 id="resource" class="navTitle">Resources</h2>
          <div id="resources-nav" class="ui segments sidebarNav "></div>

          <h2 id="resource" class="navTitle">Credits</h2>
          <div class="ui segments sidebarNav">
            <a class="ui segment" href="#credits">Credits</a>
          </div>
        </div>

        <section class="content">
          <h1>Getting Started</h1>
          <hr />
          <h3 id="intro">Introduction</h3>
          <p>
            Welcome to the Rainbow Six Siege API! This documentation should help
            you familiarise yourself with the resources available and how to
            consume them with HTTP requests. Read through the getting started
            section before you dive in. Most of your problems should be solved
            just by reading through it.
          </p>
          <h3 id="base">Base Url</h3>
          <p>
            The Base URL is the root URL for all of the API, if you ever make a
            request and you get back a <b>404 NOT FOUND</b> response then check
            the Base URL first.
          </p>
          <p>The base url for this api is:</p>
          <section id="base-url" class="doccode"></section>
          <h3 id="auth">Authentication</h3>
          <p>
            This is a completely open API. No authentication is required to
            query and get data. This also means that we've limited what you can
            do to just GET requests. If you find a mistake in the code base feel
            free to email the developer.
            <a href="mailto:daltonvaren@gmail.com">Contact Here</a>
          </p>
          <h3 id="rate">Rate Limiting</h3>
          <p>
            Rate limiting has been set to prevent malicious abuse and to make
            sure our service can handle a potentially large amount of traffic.
            Rate limiting is done via IP address and is currently limited to
            10,000 API request per day.
          </p>

          <h1 id="resource">Resources</h1>
          <hr />

          <section id="resources"></section>

          <h1 id="credits">Credits</h1>
          <hr />
          <p>
            All rights to Rainbow Six Siege belong to Ubisoft. I claim no rights
            to this information detailed within. My goal with this project is to
            create and maintain an api for developers to build tools to help
            grow the community of Siege.
          </p>
          <p>
            I would also like to thank the R6 wiki for their help in gathering
            all the information.
          </p>
          <p>
            If you would like to offer suggestions on how to improve this
            resource you can reach out to me
            <a href="mailto:daltonvaren@gmail.com">Here</a>
          </p>
        </section>
      </div>
    </main>
    <footer>
      <section class="copy">
        <p>&copy; Dalton Hart 2018</p>
      </section>
      <section class="social">
        <a href="https://www.facebook.com/KnightStand" target="_blank">
          <button class="ui facebook button">
            <i class="fab fa-facebook-f"></i>
          </button>
        </a>
        <a href="https://twitter.com/DaltonJHart" target="_blank">
          <button class="ui twitter button">
            <i class="fab fa-twitter"></i>
          </button>
        </a>
        <a href="https://www.linkedin.com/in/dalton-hart/" target="_blank">
          <button class="ui linkedin button">
            <i class="fab fa-linkedin-in"></i>
          </button>
        </a>
        <a href="https://github.com/DaltonHart" target="_blank">
          <button class="ui button">
            <i class="fab fa-github"></i>
          </button>
        </a>
        <p>Let's Chat</p>
      </section>
    </footer>
  </body>
</html>
