<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>R6 API Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/semantic.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.png" />


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="scripts/doc.js"></script>
</head>

<body>
    <header class='ui fixed inverted menu'>
        <section class='ui container'>
            <a href='/' class='header item'>
                <img src='images/logo.png' class='logo'>
                Rainbow Six Siege Api
            </a>
            <a href='/documentation' class='item'>
                Documentation
            </a>
        </section>
    </header>

    <main>
        <div class="docContent">
            <div class="sidebarNav">
                <h2 class="navTitle">Getting Started</h2>
                <div class="ui segments sidebarNav">
                    <a class="ui segment" href="#intro">Introduction</a>
                    <a class="ui segment" href="#base">Base URL</a>
                    <a class="ui segment" href="#auth">Authentication</a>
                    <a class="ui segment" href="#rate">Rate Limiting</a>
                </div>

                <h2 id="resource" class="navTitle">Resources</h2>
                <div class="ui segments sidebarNav">
                    <a class="ui segment" href="#root">Root</a>
                    <a class="ui segment" href="#ops">Operators</a>
                    <a class="ui segment" href="#abil">Abilities</a>
                    <a class="ui segment" href="#gadget">Gadgets</a>
                    <a class="ui segment" href="#weapons">Weapons</a>
                </div>

                <h2 id="resource" class="navTitle">Credits</h2>
                <div class="ui segments sidebarNav">
                    <a class="ui segment" href="#credits">Credits</a>
                </div>

            </div>

            <section class="content">
                <h1>Getting Started</h1>
                <hr>
                <h3 id="intro">Introduction</h3>
                <p>Welcome to the Rainbow Six Siege API! This documentation should help you familiarise yourself with
                    the resources available and how to consume them with HTTP requests. Read through the getting
                    started section before you dive in. Most of your problems should be solved just by reading through
                    it.</p>
                <h3 id="base">Base Url</h3>
                <p>The Base URL is the root URL for all of the API, if you ever make a request and you get back a <b>404
                        NOT FOUND</b> response then check the Base URL first.</p>
                <p>The base url for this api is:</p>
                <section class="doccode">
                    <code>localhost:3000/api</code>
                </section>
                <h3 id="auth">Authentication</h3>
                <p>This is a completely open API. No authentication is required to query and get data. This also means
                    that we've limited what you can do to just GET requests. If you find a mistake in the code base
                    feel free to email the developer. <a href="mailto:daltonvaren@gmail.com">Contact Here</a></p>
                <h3 id="rate">Rate Limiting</h3>
                <p>Rate limiting has been set to prevent malicious abuse and to make sure our service can handle a
                    potentially large amount of traffic. Rate limiting is done via IP address and is currently limited
                    to 10,000 API request per day.</p>
                <h1 id="resource">Resources</h1>
                <hr>
                <h3 id="root">Root</h3>
                <p>The Root resource will provide all available endpoints within the API.</p>
                <p>Example Request:</p>
                <section class="doccode">
                    <code> GET localhost:3000/api</code>
                </section>
                <p>Example Response:</p>
                <script src="https://gist.github.com/DaltonHart/0f62823d81900d6243cb5c441974de42.js"></script>

                <p><em>If your response looks different that is ok. We have just updated the API with more information
                        since the time this docmentation was created.</em></p>

                <h3 id="ops">Operators</h3>
                <p>There are two operator endpoints for organization.</p>
                <h4>Attack Operators</h4>
                <p>The Attack Operator Endpoints are defined as:</p>
                <ul>
                    <li>
                        <section class="doccode">
                            <code>/atkop</code>
                        </section>
                        <p>Will return all Attack Operators.</p>
                    </li>
                    <li>
                        <section class="doccode">
                            <code>/atkop/:id</code>
                        </section>
                        <p>Will return a specific Attack Operator with the given Id.</p>
                    </li>
                </ul>
                <p>Example Request:</p>
                <section class="doccode">
                    <code> GET localhost:3000/api/atkop</code>
                </section>
                <p>Example Response:</p>
                <script src="https://gist.github.com/DaltonHart/457f48943c52ad5e6ec8fb5b8feb4730.js"></script>
                <h5>Attributes</h5>
                <ul class="attr">
                    <li><b>name</b> - <em>String</em> - The name of the operator.</li>
                    <li><b>_id</b> - <em>String</em> - Database ID of the specific operator.</li>
                    <li><b>ability</b> - <em>Object</em> - Ability is an object refrenced from the Ability endpoint.</li>
                    <li><b>desc</b> - <em>String</em> - A description of the operator.</li>
                    <li><b>badge</b> - <em>String</em> - Url endpoint for the operator badge.</li>
                    <li><b>org</b> - <em>String</em> - Organization the operator belongs to.</li>
                    <li><b>img</b> - <em>String</em> - Url endpoint for hte operator image.</li>
                    <li><b>bio</b> - <em>String</em> - Background story of the operator.</li>
                    <li><b>armor_rating</b> - <em>Number</em> - Numerical rating of armor.</li>
                    <li><b>speed_rating</b> - <em>Number</em> - Numerical rating of speed.</li>
                    <li><b>primary_weapons</b> - <em>Array of Objects</em> - Array of primary weapon objects available
                        for selection for the operator. Weapons are refrenced from the Weapons endpoint.</li>
                    <li><b>secondary_weapons</b> - <em>Array of Objects</em> - Array of secondary weapon objects
                        available for selection for the operator. Weapons are refrenced from the Weapons endpoint.</li>
                    <li><b>gadgets</b> - <em>Array of Objects</em> - Array of gadget objects available for selection
                        for the operator. Gadgets are refrenced from the gadgets endpoint.</li>
                </ul>

                <h4>Defense Operators</h4>
                <p>The Defense Operator Endpoints are defined as:</p>
                <ul>
                    <li>
                        <section class="doccode">
                            <code>/defop</code>
                        </section>
                        <p>Will return all Defense Operators.</p>
                    </li>
                    <li>
                        <section class="doccode">
                            <code>/defop/:id</code>
                        </section>
                        <p>Will return a specific Defense Operator with the given Id.</p>
                    </li>
                </ul>
                <p>Example Request:</p>
                <section class="doccode">
                    <code> GET localhost:3000/api/defop/1</code>
                </section>
                <p>Example Response:</p>
                <script src="https://gist.github.com/DaltonHart/d2255c7bb0481f9d49a57f5579f4eb57.js"></script>
                <h5>Attributes</h5>
                <ul class="attr">
                    <li><b>name</b> - <em>String</em> - The name of the operator.</li>
                    <li><b>_id</b> - <em>String</em> - Database ID of the specific operator.</li>
                    <li><b>ability</b> - <em>Object</em> - Ability is an object refrenced from the Ability endpoint.</li>
                    <li><b>desc</b> - <em>String</em> - A description of the operator.</li>
                    <li><b>badge</b> - <em>String</em> - Url endpoint for the operator badge.</li>
                    <li><b>org</b> - <em>String</em> - Organization the operator belongs to.</li>
                    <li><b>img</b> - <em>String</em> - Url endpoint for hte operator image.</li>
                    <li><b>bio</b> - <em>String</em> - Background story of the operator.</li>
                    <li><b>armor_rating</b> - <em>Number</em> - Numerical rating of armor.</li>
                    <li><b>speed_rating</b> - <em>Number</em> - Numerical rating of speed.</li>
                    <li><b>primary_weapons</b> - <em>Array of Objects</em> - Array of primary weapon objects available
                        for selection for the operator. Weapons are refrenced from the Weapons endpoint.</li>
                    <li><b>secondary_weapons</b> - <em>Array of Objects</em> - Array of secondary weapon objects
                        available for selection for the operator. Weapons are refrenced from the Weapons endpoint.</li>
                    <li><b>gadgets</b> - <em>Array of Objects</em> - Array of gadget objects available for selection
                        for the operator. Gadgets are refrenced from the gadgets endpoint.</li>
                </ul>
                <h3 id="abil">Abilities</h3>
                <p>The operator ability endpoints are defined as:</p>
                <ul>
                    <li>
                        <section class="doccode">
                            <code>/abilities</code>
                        </section>
                        <p>Will return all operator abilities.</p>
                    </li>
                    <li>
                        <section class="doccode">
                            <code>/abilities/:id</code>
                        </section>
                        <p>Will return a specific operator ability with the given Id.</p>
                    </li>
                </ul>
                <p>Example Request:</p>
                <section class="doccode">
                    <code> GET localhost:3000/api/abilities/1</code>
                </section>
                <p>Example Response:</p>
                <script src="https://gist.github.com/DaltonHart/7d07745b67d1a49aa40f967215c20d75.js"></script>
                <h5>Attributes</h5>
                <ul class="attr">
                    <li><b>name</b> - <em>String</em> - The name of the operator ability.</li>
                    <li><b>_id</b> - <em>String</em> - Database ID of the specific ability.</li>
                    <li><b>uses</b> - <em>Number</em> - Numerical value of the times an ability can be used.</li>
                    <li><b>desc</b> - <em>String</em> - A description of the operator ability.</li>
                    <li><b>img</b> - <em>String</em> - Url endpoint for the operator ability image.</li>
                </ul>
                <h3 id="gadget">Gadgets</h3>
                <p>The operator gadget endpoints are defined as:</p>
                <ul>
                    <li>
                        <section class="doccode">
                            <code>/gadgets</code>
                        </section>
                        <p>Will return all operator gadgets.</p>
                    </li>
                    <li>
                        <section class="doccode">
                            <code>/gadgets/:id</code>
                        </section>
                        <p>Will return a specific operator gadget with the given Id.</p>
                    </li>
                </ul>
                <p>Example Request:</p>
                <section class="doccode">
                    <code> GET localhost:3000/api/gadgets/1</code>
                </section>
                <p>Example Response:</p>
                <script src="https://gist.github.com/DaltonHart/9f5baef9ab0290220319fe4f4d79f361.js"></script>
                <h5>Attributes</h5>
                <ul class="attr">
                    <li><b>name</b> - <em>String</em> - The name of the operator gadget.</li>
                    <li><b>_id</b> - <em>String</em> - Database ID of the specific gadget.</li>
                    <li><b>uses</b> - <em>Number</em> - Numerical value of the times a gadget can be used.</li>
                    <li><b>desc</b> - <em>String</em> - A description of the operator gadget.</li>
                    <li><b>img</b> - <em>String</em> - Url endpoint for the operator gadget image.</li>
                    <li><b>assignment</b> - <em>String</em> - Shows assignment to either attack operators or defense operators.</li>
                </ul>
                
                <h3 id="weapons">Weapons</h3>
                <p>The operator weapon endpoints are defined as:</p>
                <ul>
                    <li>
                        <section class="doccode">
                            <code>/weapons</code>
                        </section>
                        <p>Will return all operator weapons.</p>
                    </li>
                    <li>
                        <section class="doccode">
                            <code>/weapons/:id</code>
                        </section>
                        <p>Will return a specific operator weapon with the given Id.</p>
                    </li>
                </ul>
                <p>Example Request:</p>
                <section class="doccode">
                    <code> GET localhost:3000/api/weapons/1</code>
                </section>
                <p>Example Response:</p>
                <script src="https://gist.github.com/DaltonHart/0f36b11222936256c4cc938baded76e5.js"></script>
                <h5>Attributes</h5>
                <ul class="attr">
                    <li><b>name</b> - <em>String</em> - The name of the operator weapon.</li>
                    <li><b>_id</b> - <em>String</em> - Database ID of the specific weapon.</li>
                    <li><b>img</b> - <em>String</em> - Url endpoint for the operator weapon image.</li>
                    <li><b>type</b> - <em>String</em> - The type of weapon.</li>
                    <li><b>assignment</b> - <em>String</em> - Shows assignment to either a primary weapon slot or secondary weapon slot.</li>
                    <li><b>firemodes</b> - <em>Array</em> - An array of strings for the available firemodes.</li>
                    <li><b>sights</b> - <em>Array</em> - An array of strings for the available sight attachments.</li>
                    <li><b>barrels</b> - <em>Array</em> - An array of strings for the available barrel attachments.</li>
                    <li><b>grips</b> - <em>Array</em> - An array of strings for the available grip attachments.</li>
                    <li><b>underbarrel</b> - <em>Array</em> - An array of strings for the available underbarrel attachments.</li>
                </ul>

                <h1 id="credits">Credits</h1>
                <hr>
                <p>All rights to Rainbow Six Siege belong to Ubisoft. I claim no rights to this information detailed within. My goal with this project is to create and maintain an api for developers to build tools to help grow the community of Siege. </p>
                <p>I would also like to thank the R6 wiki for their help in gathering all the information.</p>
                <p>If you would like to offer suggestions on how to improve this resource you can reach out to me <a href="mailto:daltonvaren@gmail.com">Here</a></p>

            </section>

        </div>

    </main>
    <footer>
        <section class='copy'>
            <p>&copy; Dalton Hart 2018</p>
        </section>
        <section class='social'>
            <a href="https://www.facebook.com/KnightStand" target="_blank">
                <button class="ui facebook button">
                    <i class="fab fa-facebook-f"></i>
                </button>
            </a>
            <a href="https://twitter.com/DaltonJHart" target="_blank">
                <button class="ui twitter button">
                    <i class="fab fa-twitter"></i>
                </button>
            </a>
            <a href="https://www.linkedin.com/in/dalton-hart/" target="_blank">
                <button class="ui linkedin button">
                    <i class="fab fa-linkedin-in"></i>
                </button>
            </a>
            <a href="https://github.com/DaltonHart" target="_blank">
                <button class="ui button">
                    <i class="fab fa-github"></i>
                </button>
            </a>
            <p>Let's Chat</p>
        </section>

    </footer>
</body>

</html>