<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>R6 API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="styles/semantic.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="styles/style.css"
    />
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.png" />
    <script src="scripts/vendor/jquery.js"></script>
    <script src="scripts/vendor/semantic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/transition.js"></script>
    <script src="scripts/auth.js" defer></script>
    <script src="scripts/profile.js" defer></script>
  </head>

  <body>
    <header class="ui fixed inverted menu">
      <a href="/" class="header item">
        <img src="images/logo.png" class="logo" />
        Rainbow Six Siege Api
      </a>
      <a href="/documentation" class="item">
        Documentation
      </a>
      <div class="menu right">
        <div class="item">
          <div id="register" class="ui primary button">Sign up</div>
        </div>
        <div class="item">
          <div id="login" class="ui button">Log-in</div>
        </div>
      </div>
    </header>
    <main class="profile-main">
      profile
    </main>
    <footer>
      <section class="copy">
        <p>&copy; 2018</p>
      </section>
      <section class="social">
        <a href="https://www.linkedin.com/in/dalton-hart/" target="_blank">
          <button class="ui linkedin button">
            <i class="fab fa-linkedin-in"></i>
          </button>
        </a>
        <a href="https://github.com/DaltonHart" target="_blank">
          <button class="ui button">
            <i class="fab fa-github"></i>
          </button>
        </a>
      </section>
    </footer>

    <div class="ui modal login">
      <div class="header">Login</div>
      <div class="content">
        <form id="login-form">
          <div class="ui form">
            <div class="field required">
              <label>E-mail</label>
              <input
                id="login-email"
                type="email"
                name="email"
                placeholder="thatcher@r6api.com"
                required
              />
            </div>
            <div class="field required">
              <label>Password</label>
              <input
                id="login-password"
                type="password"
                name="password"
                minlength="8"
                required
              />
            </div>
          </div>
        </form>
      </div>
      <div class="actions">
        <div id="login-submit" class="ui green approve button">Submit</div>
        <div class="ui red cancel button">Cancel</div>
      </div>
    </div>

    <div class="ui modal register">
      <div class="header">Register</div>
      <div class="content">
        <form id="register-form">
          <div class="ui form">
            <div class="field required">
              <label>E-mail</label>
              <input
                id="register-email"
                type="email"
                name="email"
                placeholder="thatcher@r6api.com"
                required
              />
            </div>
            <div class="field required">
              <label>Password</label>
              <input
                id="register-password"
                type="password"
                name="password"
                minlength="8"
                required
              />
              <label> Must be at least 8 characters long.</label>
            </div>
            <div class="field required">
              <label>Confirm Password</label>
              <input
                id="register-password2"
                type="password"
                name="password2"
                minlength="8"
                required
              />
            </div>
          </div>
        </form>
      </div>
      <div class="actions">
        <div id="register-submit" class="ui green approve button">Sign Up</div>
        <div class="ui red cancel button">Cancel</div>
      </div>
    </div>
  </body>
</html>
