@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');

* {
  box-sizing: border-box;
}
html {
  height: 100vh;
}

body {
  background: #282b30;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 18px;
  position: relative;
}
main {
  margin-top: 7vh;
  height: 88vh;
}
header {
  height: 7vh;
}

header a,
h2,
h1 {
  color: white;
  text-align: center;
  font-family: 'Encode Sans Condensed', sans-serif;
}
h1 {
  text-align: left;
  margin-top: 1em;
}

a img {
  filter: invert(100%);
}

#apiOutput {
  background-color: #f6f7f8;
  padding: 5px;
  height: 55vh;
  width: 85vw;
  margin: 1em auto;
  overflow: scroll;
  color: black;
  border: 1px solid #1b1c1d;
  border-radius: 4px;
}

pre {
  background-color: #f6f7f8;
  padding: 5px;
  margin: 0;
  word-wrap: break-word;
  width: 100%;
}

pre span {
  max-width: 100%;
}
.string {
  color: black;
  word-wrap: break-word;
  width: 50vw;
}
.number {
  color: rgb(219, 29, 172);
}
.boolean {
  color: rgb(54, 54, 243);
}
.null {
  color: red;
}
.key {
  color: rgb(3, 155, 3);
}

footer {
  background-color: #1b1c1d;
  height: 5vh;
  color: white;
  font-family: 'Encode Sans Condensed', sans-serif;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  position: fixed;
  width: 100vw;
}

.social {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-left: auto;
}
.copy {
  display: inline;
}
.social p,
.copy p {
  font-size: 1.5em;
  margin: 0;
  margin-right: 0.5em;
  display: inline;
}

.requestBar {
  margin: 0.5em auto;
  width: 30vw;
}
.labeled {
  width: 100%;
}
.labeled input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-left-color: transparent;
}
.labeled .button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.docContent {
  display: flex;
  height: 88vh;
  width: 100vw;
}

.sidebarNav {
  padding: 1em;
  width: 20vw;
  font-size: 12px;
  position: fixed;
}
.sidebarNav .segment {
  display: block;
  color: white;
  background-color: rgb(74, 77, 82);
  font-family: 'Encode Sans Condensed', sans-serif;
}
.sidebarNav .segment:hover {
  background-color: rgb(111, 115, 122);
}
.sidebarNav a {
  text-decoration: none;
  color: inherit;
}
.content {
  color: white;
  width: 100%;
  padding: 1em;
  padding-left: 22vw;
  max-width: 1500px;
}

main::-webkit-scrollbar {
  display: none;
}

.navTitle {
  text-align: left;
  margin: 0 0 0 1em;
  font-size: 1.5em;
}

.doccode {
  background-color: #f6f7f8;
  padding: 1em;
  color: #1b1c1d;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 0.5em;
}
.doccode pre {
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #3a3f44;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.doccode pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
  width: 100%;
}

li .doccode {
  color: rgb(173, 127, 26);
  width: 20vw;
}
li {
  margin-bottom: 1em;
}

.attr b {
  color: #3a3f44;
  background-color: white;
  padding: 0.3em;
  border-radius: 2px;
}

h3 {
  text-transform: uppercase;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
