@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');

*{
    box-sizing: border-box;
}
html{
    height: 100vh;
}

body{
    background: #282B30;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    font-family: 'Encode Sans Condensed', sans-serif;
}
main{
    margin-top: 7vh;
    height: 88vh;
}
header {
    height: 7vh;
}

header a, h2{
    color: white;
    text-align: center;
    font-family: 'Encode Sans Condensed', sans-serif;
}

a img {
    filter: invert(100%);
}

#apiOutput{
    
    background-color: #f6f7f8;
    padding: 5px;
    height: 55vh;
    width: 85vw;
    margin: 1em auto;
    overflow: scroll;
    color: black;
    border: 1px solid #1B1C1D;
    border-radius: 4px;
}

pre {
    background-color: #f6f7f8;
    padding: 5px;
    margin: 0;
    word-wrap: break-word;
    width: 100%;
    font-family: 'Encode Sans Condensed', sans-serif;
}
pre span{
    max-width: 100%;
    
}
.string { 
    color: black; 
    word-wrap: break-word;
    width: 50vw;
}
.number { 
    color: rgb(219, 29, 172); 
}
.boolean {
     color: rgb(54, 54, 243); 
    }
.null {
     color: red; 
    }
.key { color: rgb(3, 155, 3); }

footer {
    display: grid;
    background-color: #1B1C1D;
    height: 5vh;
    color: white;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.social{
    grid-column: 2/3;
    display: flex;
    flex-direction: row-reverse;
}
.copy{
    grid-column: 1/2;
    display: inline;
}
.social p, .copy p{
    font-size: 1.5em;
    margin: 0;
    margin-right: .5em;
    display: inline;
}

.requestBar{
    margin: .5em auto;
    width: 30vw;
}
.labeled{
    width: 100%;
}
.labeled input{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-left-color: transparent;
}
.labeled .button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.docContent{
    display: grid;
}

.sidebarNav{
    grid-column: 1/2;
    padding: 1em;
}
.sidebarNav .segment{
    color: white;
    background-color: rgb(74, 77, 82);
    border: rgb(215, 216, 218) 2px solid;
    font-family: 'Encode Sans Condensed', sans-serif;

}
.sidebarNav a {
    text-decoration: none;
    color: inherit;
}
.content{
    grid-column: 2/5;
    color: white;
}
.navTitle{
    text-align: left;
    margin: 0 0  0 1em;
    font-size: 1.5em;
}